@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*HACE QUE LOS ELEMENTOS MIDAN LO QUE TIENEN QUE MEDIR*/ }

.barrabarra a {
  text-decoration: none !important;
  color: white !important;
  font-family: truculenta !important;
  font-weight: 300 !important; }

header nav div a {
  font-size: 20px !important;
  text-shadow: 8px 4px 8px black;
  margin: 0 20px; }

.row {
  /*componente de sass que no puedo cambiar y me genera desplazamiento lateral*/
  --bs-gutter-x:0!important; }

.separador {
  height: 15px;
  background-image: url(../img/barberia/separador.jpeg); }

.fixed img {
  /* Imagen de WhatsApp Flotante*/
  width: 50px;
  height: 50px;
  position: fixed;
  /* Fija la posición en la página */
  bottom: 30px;
  right: 30px; }

.shadow__btn:hover {
  border-radius: 100%;
  box-shadow: 0 0 5px #33ff00, 0 0 25px #55ff00, 0 0 50px #77ff00, 0 0 100px #006600; }

/*------------------------------------------------------------------FOOTER*/
.site-footer {
  background-color: black;
  padding: 45px 0 20px;
  font-size: 16px;
  line-height: 24px;
  color: white;
  font-family: "truculenta"; }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5; }
  .site-footer h6 {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px; }
  .site-footer a {
    color: white;
    font-family: "truculenta"; }
    .site-footer a:hover {
      text-decoration: none; }
  .site-footer .links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .site-footer .links h6 {
      text-align: center; }
  .site-footer .footer-links {
    padding-left: 0;
    list-style: none; }
    .site-footer .footer-links li {
      display: block; }
    .site-footer .footer-links a {
      color: white;
      text-decoration: none;
      transition: 1s; }
      .site-footer .footer-links a:hover {
        color: red; }
  .site-footer .social-icons {
    text-align: right; }
    .site-footer .social-icons li {
      display: inline-block;
      margin-bottom: 4px; }
    .site-footer .social-icons a {
      background-color: #eceeef;
      color: #818a91;
      font-size: 18px;
      display: inline-block;
      line-height: 44px;
      width: 44px;
      text-align: center;
      margin-right: 8px;
      border-radius: 100%;
      transition: all 0.5s linear; }
      .site-footer .social-icons a:hover {
        color: white; }
    .site-footer .social-icons.size-sm a {
      line-height: 34px;
      height: 34px;
      width: 34px;
      font-size: 14px; }
    .site-footer .social-icons a.facebook:hover {
      background-color: #3b5998; }
    .site-footer .social-icons a.whatsapp:hover {
      background-color: green; }
    .site-footer .social-icons a.google:hover {
      background-color: red; }
    .site-footer .social-icons a.instagram:hover {
      background-color: #ea4c89; }

.hero {
  background-image: url(../img/barberia/istockphoto-1201544779-170667a.webp);
  height: 100vh;
  width: auto;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap; }

.textos .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .textos .row .col a {
    text-decoration: none;
    color: white;
    text-align: center; }
  .textos .row .col img {
    width: 330px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 10px 10px 20px white(0, 0, 0, 0.3);
    filter: grayscale(100%);
    transition: 1.1s; }
    .textos .row .col img:hover {
      filter: grayscale(0%);
      transform: scale(1.1); }
    .textos .row .col img p {
      font-family: truculenta;
      font-size: 16px;
      text-decoration: none;
      color: white; }

.titulo-h1 h1 {
  background-image: url(../img/barberia/gondoh1.jpg);
  background-size: cover;
  text-align: center;
  padding: 30px 30px;
  font-size: 40px;
  font-family: truculenta;
  color: white;
  text-shadow: 0px 2.5px 5px #b8b6b6;
  margin-bottom: 0; }

.presentacion {
  background-image: url(../img/barberia/istockphoto-1201544779-170667a.webp);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .presentacion div {
    width: 50%;
    margin: 60px; }
    .presentacion div img {
      width: 600px;
      height: 400px;
      border-radius: 30px; }
  .presentacion div h2 {
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 15px; }
  .presentacion p {
    color: white;
    font-family: truculenta;
    font-size: 20px; }
  .presentacion a {
    width: 90px;
    height: 6 0px;
    border: white solid 3px;
    color: white;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    font-family: truculenta;
    margin-left: 230px;
    margin-top: 50px;
    transition: background-color 1s; }
    .presentacion a:hover {
      background-color: #750606; }

.servicios {
  background-image: url(../img/barberia/istockphoto-1201544779-170667a.webp);
  width: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .servicios .servicios-div {
    width: 50%;
    margin-left: 100px;
    line-height: 2; }
    .servicios .servicios-div h2 {
      padding-bottom: 20px;
      text-align: center;
      display: inline-block;
      /* Permite aplicar padding */
      padding-bottom: 10px;
      /* Separación entre el texto y la línea */
      border-bottom: 1px solid #ef6707;
      /* Línea de subrayado */ }
  .servicios div {
    font-family: "truculenta";
    color: white;
    font-size: 20px;
    text-align: left;
    width: 50%;
    margin-left: 50px; }
    .servicios div div p {
      width: 500px; }

/*-------------------------------------------------------------------FOOTER*/
body {
  font-family: "truculenta"; }

.main-nosotros {
  background-image: url(../img/barberia/0c41e1690bd0f7a891bcc574bbb0482f.jpeg);
  filter: blur(0px);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .main-nosotros .nosotros {
    background-color: rgba(47, 45, 45, 0.834);
    /* Color blanco con opacidad 0.8 */
    width: 700px;
    height: 550px;
    text-align: center;
    margin-top: 100px; }
    .main-nosotros .nosotros h3 {
      font-family: truculenta;
      color: white;
      text-shadow: 8px 4px 8px black;
      font-size: 60px;
      padding-top: 20px; }
    .main-nosotros .nosotros p {
      font-family: truculenta;
      color: white;
      text-shadow: 8px 4px 8px black;
      font-size: 22px;
      padding-top: 20px;
      width: 600px;
      text-align: center;
      margin: auto; }
      .main-nosotros .nosotros p.p-importante {
        color: red; }
    .main-nosotros .nosotros img {
      border-radius: 20px; }

.tarjeta-producto-nueva {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .tarjeta-producto-nueva .card {
    width: 300px;
    height: 400px;
    margin: 0 10px; }
    .tarjeta-producto-nueva .card .card-img {
      position: relative;
      top: -20px;
      height: 100px;
      display: flex;
      justify-content: center; }
    .tarjeta-producto-nueva .card .project-info {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
      top: -50px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); }
      .tarjeta-producto-nueva .card .project-info .project-title {
        font-weight: 500;
        font-size: 1.5em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: black; }
      .tarjeta-producto-nueva .card .project-info .lighter {
        font-size: 0.9em; }
      .tarjeta-producto-nueva .card .project-info .flex {
        display: flex;
        justify-content: space-between;
        align-items: center; }
      .tarjeta-producto-nueva .card .project-info .tag {
        font-weight: lighter;
        color: grey; }
      .tarjeta-producto-nueva .card .project-info .price,
      .tarjeta-producto-nueva .card .project-info .quantity {
        font-size: 1em;
        color: black; }
      .tarjeta-producto-nueva .card .project-info .btn-buy {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s; }
      .tarjeta-producto-nueva .card .project-info .btn-buy:hover {
        background-color: #0056b3; }

.contact {
  padding: 50px 0;
  background: black;
  background: linear-gradient(27deg, #5d5b58 0%, black 83%); }
  .contact .heading h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #625858; }
    .contact .heading h2 span {
      color: #5e0303; }
  .contact .heading p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    color: white;
    margin: 20px 0 60px;
    padding: 0; }
  .contact .form-control {
    padding: 25px;
    font-size: 13px;
    margin: 10px;
    background: #f9f9f9;
    border: 0; }
  .contact .row .col-sm-6 {
    display: flex;
    justify-content: center;
    align-items: center; }
  .contact button.btn {
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background: #5e0303;
    color: #ffffff;
    margin: 10px 0px 0px 50px;
    padding: 10px 40px; }
  .contact .botones-formulario {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
  .contact .title h3 {
    font-size: 24px;
    font-weight: 600;
    color: #f9f9f9; }
  .contact .title p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    line-height: 1.6;
    margin: 0 0 40px; }
  .contact .content .info {
    margin-top: 30px; }
    .contact .content .info i {
      font-size: 30px;
      padding: 0;
      margin: 0;
      color: white;
      margin-right: 20px;
      text-align: center;
      width: 20px; }
    .contact .content .info h4 {
      font-size: 16px;
      line-height: 1.4;
      color: white; }
      .contact .content .info h4 span {
        font-size: 13px;
        font-weight: 300;
        color: white; }

.testimonials {
  padding: 40px 0;
  background: #791e00;
  background: linear-gradient(27deg, #791e00 0%, black 42%);
  text-align: center; }
  .testimonials .testimonial-inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px; }
    .testimonials .testimonial-inner h2 {
      color: white; }
    .testimonials .testimonial-inner spam {
      color: white; }
    .testimonials .testimonial-inner .border {
      width: 500px;
      height: 5px;
      background: #791e00;
      margin: 26px auto; }
    .testimonials .testimonial-inner .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
      .testimonials .testimonial-inner .row .col {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        box-sizing: border-box;
        padding: 15px; }
        .testimonials .testimonial-inner .row .col .testimonial {
          background: #fff;
          padding: 30px;
          border-radius: 20px; }
          .testimonials .testimonial-inner .row .col .testimonial img {
            width: 100px;
            height: 100px;
            border-radius: 50%; }
          .testimonials .testimonial-inner .row .col .testimonial .name {
            font-size: 20px;
            text-transform: uppercase;
            margin: 20px 0; }
          .testimonials .testimonial-inner .row .col .testimonial .stars {
            color: #f0932b;
            margin-bottom: 20px; }

.tarjetas-nuevas {
  background-color: black; }

.cards-tres {
  margin: 0 !important;
  padding: 100px 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .cards-tres a {
    position: relative;
    width: 320px;
    height: 320px;
    background-image: url(../img/barberia/black-wood-texture-background-free-photo.jpeg);
    background-size: cover;
    border-radius: 10px;
    gap: 20px;
    transition: all 1s ease;
    border-radius: 25px;
    text-decoration: none; }
    .cards-tres a:not(:hover) {
      opacity: 0.7;
      transform: scale(0.85); }
    .cards-tres a:hover {
      transform: scale(1.05) translateY(-5%);
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.35); }
    .cards-tres a p {
      font-family: "truculenta";
      font-size: 50px;
      color: white;
      filter: blur(2px);
      font-weight: bolder;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.seccion-acordeon {
  background: linear-gradient(to right, #888, #000);
  padding: 20px; }

.accordion {
  display: flex;
  flex-direction: column;
  max-width: 991px;
  min-width: 320px;
  margin: 50px auto;
  padding: 0 50px; }
  .accordion h1 {
    font-size: 32px;
    text-align: center;
    color: white;
    text-shadow: 8px 4px 8px black; }
  .accordion .accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; }
    .accordion .accordion-item .accordion-item-title {
      position: relative;
      margin: 0;
      display: flex;
      width: 100%;
      font-size: 15px;
      cursor: pointer;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 14px 20px;
      box-sizing: border-box;
      align-items: center; }
      .accordion .accordion-item .accordion-item-title .icon {
        margin-left: 14px; }
    .accordion .accordion-item .accordion-item-desc {
      display: none;
      font-size: 14px;
      line-height: 22px;
      font-weight: 300;
      color: #444;
      border-top: 1px dashed #ddd;
      padding: 10px 20px 20px;
      box-sizing: border-box; }
    .accordion .accordion-item input[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0; }
    .accordion .accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
      display: block; }
    .accordion .accordion-item input[type="checkbox"]:checked ~ .accordion-item-title .icon:after {
      content: "-";
      font-size: 20px; }
    .accordion .accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
      content: "+";
      font-size: 20px; }
  .accordion .accordion-item:first-child {
    margin-top: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*HACE QUE LOS ELEMENTOS MIDAN LO QUE TIENEN QUE MEDIR*/ }

.fotosgrid {
  height: 100vh;
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: stretch; }
  .fotosgrid .galeriagrid {
    height: calc(100vh - 90px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 6px;
    overflow: hidden;
    background-color: black;
    /* Espacio entre las celdas */ }
    .fotosgrid .galeriagrid a {
      background-image: url(../img/fondo-computadora.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden; }
      .fotosgrid .galeriagrid a p {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        /* Fondo semitransparente */
        color: white;
        text-align: left;
        font-size: 30px;
        opacity: 0;
        /* Ocultar inicialmente */
        transition: 1s;
        /* Transición suave */
        padding-left: 10px; }
        .fotosgrid .galeriagrid a p:hover {
          opacity: 2;
          /* Mostrar al pasar el mouse */
          font-size: 80px; }
      .fotosgrid .galeriagrid a.img-a {
        grid-column: 1 / 3; }
      .fotosgrid .galeriagrid a.img-b {
        grid-column: 3 / 5;
        grid-row: 1 / 3; }
      .fotosgrid .galeriagrid a.img-d {
        grid-column: 2 / 3;
        grid-row: 2 / 5; }
      .fotosgrid .galeriagrid a.img-d {
        grid-column: 2 / 3;
        grid-row: 2 / 5; }
      .fotosgrid .galeriagrid a.img-e {
        grid-row: 3 / 5; }
      .fotosgrid .galeriagrid a.img-f {
        grid-row: 3 / 5; }
      .fotosgrid .galeriagrid a.img-g {
        grid-row: 3 / 5; }

@media screen and (max-width: 768px) {
  .fotosgrid .galeriagrid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    gap: 6px; }
    .fotosgrid .galeriagrid a {
      min-height: 0px; }
      .fotosgrid .galeriagrid a p {
        font-size: 30px;
        line-height: 100px;
        opacity: 1;
        text-align: center; }
        .fotosgrid .galeriagrid a p:hover {
          opacity: 2;
          /* Mostrar al pasar el mouse */
          font-size: 35px; }
      .fotosgrid .galeriagrid a.img-a {
        grid-column: 1 / 2;
        grid-row: 1 /2; }
      .fotosgrid .galeriagrid a.img-b {
        grid-column: 2 / 3;
        grid-row: 1 / 2; }
      .fotosgrid .galeriagrid a.img-c {
        grid-column: 1 / 2;
        grid-row: 2 / 3; }
      .fotosgrid .galeriagrid a.img-d {
        grid-column: 2 / 3;
        grid-row: 2 / 3; }
      .fotosgrid .galeriagrid a.img-e {
        grid-auto-columns: 1 /2;
        grid-row: 3 / 4; }
      .fotosgrid .galeriagrid a.img-f {
        grid-column: 2 / 3;
        grid-row: 3 / 4; }
      .fotosgrid .galeriagrid a.img-g {
        grid-column: 1/ 3;
        grid-row: 4 / 5; } }
