.main-nosotros {
    background-image: url(../img/barberia/0c41e1690bd0f7a891bcc574bbb0482f.jpeg);
    filter: blur(0px);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nosotros {
        background-color: rgba(47, 45, 45, 0.834);
        /* Color blanco con opacidad 0.8 */
        width: 700px;
        height: 550px;
        text-align: center;
        margin-top: 100px;

        h3 {
            font-family: truculenta;
            color: white;
            text-shadow: 8px 4px 8px black;
            font-size: 60px;
            padding-top: 20px;
        }

        p {
            font-family: truculenta;
            color: white;
            text-shadow: 8px 4px 8px black;
            font-size: 22px;
            padding-top: 20px;
            width: 600px;
            text-align: center;
            margin: auto;

            &.p-importante {
                color: red;
            }
        }

        img {
            border-radius: 20px;
        }
    }
}

.contact {
    padding: 50px 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(27deg, rgb(93, 91, 88) 0%, rgba(0, 0, 0, 1) 83%);

    .heading {
        h2 {
            font-size: 30px;
            font-weight: 700;
            margin: 0;
            padding: 0;
            color: rgb(98, 88, 88);

            span {
                color: rgb(94, 3, 3);
            }
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 1.7;
            color: white;
            margin: 20px 0 60px;
            padding: 0;
        }
    }

    .form-control {
        padding: 25px;
        font-size: 13px;
        margin: 10px;
        background: #f9f9f9;
        border: 0;
    }

    .row {
        .col-sm-6 {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    button.btn {
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
        background: rgb(94, 3, 3);
        color: #ffffff;
        margin: 10px 0px 0px 50px;
        padding: 10px 40px;
    }

    .botones-formulario {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .title {
        h3 {
            font-size: 24px;
            font-weight: 600;
            color: #f9f9f9;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: white;
            line-height: 1.6;
            margin: 0 0 40px;
        }
    }

    .content {
        .info {
            margin-top: 30px;

            i {
                font-size: 30px;
                padding: 0;
                margin: 0;
                color: white;
                margin-right: 20px;
                text-align: center;
                width: 20px;
            }

            h4 {
                font-size: 16px;
                line-height: 1.4;
                color: white;

                span {
                    font-size: 13px;
                    font-weight: 300;
                    color: white;
                }
            }
        }
    }
}

.testimonials {
    padding: 40px 0;
    background: rgb(121, 30, 0);
    background: linear-gradient(27deg, rgba(121, 30, 0, 1) 0%, rgba(0, 0, 0, 1) 42%);
    text-align: center;



    .testimonial-inner {
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding: 0 20px;

        h2 {
            color: white;
        }

        spam {
            color: white;
        }

        .border {
            width: 500px;
            height: 5px;
            background: rgb(121, 30, 0);
            margin: 26px auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .col {
                flex: 1 1 33.33%;
                max-width: 33.33%;
                box-sizing: border-box;
                padding: 15px;

                .testimonial {
                    background: #fff;
                    padding: 30px;
                    border-radius: 20px;

                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                    }

                    .name {
                        font-size: 20px;
                        text-transform: uppercase;
                        margin: 20px 0;
                    }

                    .stars {
                        color: #f0932b;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
.tarjetas-nuevas {
    background-color: black;
}
.cards-tres {
    margin: 0!important;
    padding: 100px 0px;
    a {
        transition: all 0.3s ease;

        &:not(:hover) {
            opacity: 0.7;
            transform: scale(0.85);
        }

        &:hover {
            transform: scale(1.05) translateY(-5%);
            box-shadow: 0 8px 10px rgba(0, 0, 0, 0.35);
        }

        &:active {
            transform: scale(1.05) translateY(0%);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
        }

        /*-- GENERIC STYLES --*/

        background: white;
        height: 50vh;
        text-transform: uppercase;
        display: grid;
        align-content: center;
        font-size: 5vw;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
        background: #eee;
    }

    width: 92vw;
    height: 50vh;
    margin: 25vh auto;
    display: grid;
    text-align: center;
    align-content: center;
    grid-template-columns: repeat(3, calc(33.33% - 2vw));
    grid-gap: 3vw;
}