@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
/*HACE QUE LOS ELEMENTOS MIDAN LO QUE TIENEN QUE MEDIR*/
}

.barrabarra a {
    text-decoration: none!important;
    color: white!important;
    font-family: truculenta!important;
    font-weight: 300!important;
}

header {
    nav {
        div {
        a {
            font-size: 20px!important;
            text-shadow: 8px 4px 8px black;
            margin: 0 20px;
        }
    }
    }
}

.row { /*componente de sass que no puedo cambiar y me genera desplazamiento lateral*/
    --bs-gutter-x:0!important;
}

.separador {
    height: 15px;
    background-image: url(../img/barberia/separador.jpeg);
}

.fixed img {
    /* Imagen de WHatsapp FLotante*/
        width: 50px;
        height: 50px;
        position: fixed;
    /*Fija la posicion en la pagina*/
        bottom: 30px;
        right: 30px;
    }

/*------------------------------------------------------------------FOOTER*/
.site-footer {
    background-color: black;
    padding: 45px 0 20px;
    font-size: 16px;
    line-height: 24px;
    color: white;
    font-family: "truculenta";

    hr {
        border-top-color: #bbb;
        opacity: 0.5;
    }

    h6 {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px;
    }

    a {
        color: white;
        font-family: "truculenta";

        &:hover {
            text-decoration: none;
        }
    }

    .links {
        display: flex;
        justify-content: center; // Centra horizontalmente
        align-items: center; // Centra verticalmente
        flex-direction: column;

        h6 {
            text-align:center; // Centra el texto
        }
    }

    .footer-links {
        padding-left: 0;
        list-style: none;

        li {
            display: block;
        }

        a {
            color: white;
            text-decoration: none;
            transition: 1s;

            &:hover {
                color: red;
            }
        }
    }

    .social-icons {
        text-align: right;

        li {
            display: inline-block;
            margin-bottom: 4px;
        }

        a {
            background-color: #eceeef;
            color: #818a91;
            font-size: 18px;
            display: inline-block;
            line-height: 44px;
            width: 44px;
            text-align: center;
            margin-right: 8px;
            border-radius: 100%;
            transition: all 0.5s linear;

            &:hover {
                color: white;
            }
        }

        &.size-sm a {
            line-height: 34px;
            height: 34px;
            width: 34px;
            font-size: 14px;
        }

        a.facebook:hover {
            background-color: #3b5998;
        }

        a.whatsapp:hover {
            background-color: green;
        }

        a.google:hover {
            background-color: red;
        }

        a.instagram:hover {
            background-color: #ea4c89;
        }
    }
}